// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('http://fonts.googleapis.com/css?family=Raleway:400,200');
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

.search-panel {
  list-style-type: none;
  margin-left: 20px;
  flex:2;
  position: fixed;
  overflow:auto;
  height: 500px;
}

.search-results {
  display: flex;
}

img {
  padding:10px;
}

.auto-location {
  position: absolute;
  list-style-type: none;
  padding: inherit;
  padding-top: 10px;
}

.tabs-pane {
  flex:1;
  overflow:auto;
  height: 500px;
}

.thumbnail.active {
  background-color: #e3e3e3;
}
