// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('http://fonts.googleapis.com/css?family=Raleway:400,200');
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

.search-panel {
  margin-left: 20px;
}

.search-results {
  display: flex;
}

img {
  padding:10px;
}
